<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../assets/style.css" />
    <title><%=data.username %> | Status</title>
    <meta content="<%=data.username %> Status" property="og:title" />
    <meta content="#7289da" data-react-helmet="true" name="theme-color" />
    <style>
      .container {
        width: 90%;
        margin: 0 auto;
      }
      .status-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .uptime-container,
      .ping-container {
        width: 45%;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        background-color: #36393e;
        color: #fff;
        font-size: 24px;
        transition: background-color 0.3s;
      }

      .uptime-container:hover,
      .ping-container:hover {
        background-color: #5a68a5;
        transition: background-color 0.3s;
      }
      .text-container {
        text-align: center;
        margin: 50px 0;
      }
    </style>
  </head>
  <body>
    <div class="navbar">
      <a
        href="/"
        style="color: #fff; text-decoration: none"
        class="avatar-container-navbar"
      >
        <img class="avatar-navbar" src="<%=data.avatar %>" alt="Avatar" />
        <div class="avatar-text"><%=data.username %></div>
      </a>
      <div class="navbar-links">
        <% for (const item of sidebar) { %> <% const { title, to, href, html
        }=item; %> <% if (html) { %> <%- html %> <% } else if (href) { %>
        <a class="navbar-link" href="<%= href %>"> <%= title %> </a>
        <% } else { %>
        <a class="navbar-link" href="<%= to.startsWith('/') ? to : '/' + to %>">
          <%= title %>
        </a>
        <% } %> <% } %> <% if (data.auth) { %>
        <div class="rounded-border">
          <div class="avatar-container-navbar">
            <a
              class="login-button"
              style="vertical-align: middle"
              href="/auth/logout"
            >
              <img
                class="avatar-navbar-small"
                src="<%=data.user.avatar %>"
                alt="Avatar"
              />
              <%= data.user.username %>
            </a>
          </div>
        </div>
        <% } else { %>
        <div class="rounded-border">
          <a class="login-button" href="/auth/login">Login with Discord</a>
        </div>
        <% } %>
      </div>
    </div>
    <div class="container">
      <div class="text-container">
        <div style="font-size: 40px">
          <strong>Status</strong>
        </div>
        <div style="font-size: 13px; margin-bottom: 2rem; color: #989898">
          (This Page will refresh every 30 seconds.)
        </div>
        <div class="status-container">
          <div class="uptime-container">
            <strong>Uptime:</strong>
            <%= new Date(data.client.uptime).toISOString().substr(11, 8) %>
            <br />
            <strong>Status:</strong>
            <% if (data.client.ws.ping > 1000) { %> Highly Increased Latency <%
            } else if (data.client.ws.ping > 250) { %> Increased Latency <% }
            else if (data.client.ws.ping > 100) { %> Decreased Performance <% }
            else { %> No Issues <% } %>
          </div>
          <div class="ping-container">
            <strong>Client Ping:</strong>
            <%= data.client.ws.ping %>ms
            <br />
            <strong>Database Ping:</strong>
            <%= data.client.db.ping %>ms
          </div>
        </div>
      </div>
      <canvas
        id="lineChart"
        style="display: flex; margin-bottom: 8rem"
      ></canvas>
    </div>
    <footer class="footer">
      <div class="brand"><%=data.username %></div>
      <div class="copyright">
        © <%= new Date().getFullYear() %> Copyright <%=data.username %>. All
        Rights Reserved.
      </div>
    </footer>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <script>
    var lineChart = new Chart("lineChart", {
      type: "line",
      data: {
        labels: Array.from({ length: 15 }, (_, i) => i),
        datasets: [
          {
            label: "Client Latency",
            borderCapStyle: "square",
            pointHitRadius: 250,
            pointRadius: 4,
            borderColor: "rgb(0,0,255)",
            data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
            showLine: true,
          },
          {
            label: "Database Latency",
            borderCapStyle: "square",
            pointHitRadius: 250,
            pointRadius: 2,
            borderColor: "rgb(77, 135, 227)",
            data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
            showLine: true,
          },
          {
            label: "Average Client Latency",
            borderCapStyle: "square",
            pointHitRadius: 250,
            pointRadius: 5,
            fill: false,
            borderColor: "rgb(107, 148, 214)",
            data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
            showLine: true,
          },
        ],
      },
      options: {
        responsive: true,
        plugins: {
          filler: {
            propagate: false,
          },
          legend: {
            display: false,
          },
          title: {
            display: false,
          },
        },
        scales: {
          yAxes: [{ ticks: { min: 0, max: 150 } }],
        },
      },
    });

    setInterval(function () {
      fetch("/api/client?random=" + Math.random())
        .then((response) => response.json())
        .then((data) => {
          const p = data.data.ping;
          const db = data.data.db_ping;

          const dataChart = lineChart.data.datasets[0].data;
          const values =
            dataChart
              .map((point) => Number(point.y))
              .reduce((acc, val) => acc + val, 0) /
            dataChart.map((point) => Number(point.y)).length;
          const average = values.toFixed();

          lineChart.data.datasets[0].data.push({
            x: 16,
            y: p.replace("-1", "0"),
          });
          lineChart.data.datasets[0].data.shift();

          lineChart.data.datasets[1].data.push({
            x: 16,
            y: db.replace("-1", "0"),
          });
          lineChart.data.datasets[1].data.shift();

          lineChart.data.datasets[2].data.push({
            x: 16,
            y: average,
          });
          lineChart.data.datasets[2].data.shift();
          lineChart.options.scales.yAxes[0].ticks.max =
            Math.round((Number(p) + 75) / 10) * 10;

          lineChart.update();
        })
        .catch((error) => console.error("Error:", error));
    }, 2900);
  </script>
</html>
