:root {
    --light-background: rgb(255, 255, 255);
    --light-text: #333;
    --dark-background: rgba(0, 0, 0);
    --dark-text: #dcddde;
    --link-text: #8097e1;

    /* Desert Khaki */
    --bg-gradient-desert-khaki-1: hsl(var(--bg-gradient-desert-khaki-1-hsl) / 1);
    --bg-gradient-desert-khaki-1-hsl: 29 32.4% 86.1%;
    --bg-gradient-desert-khaki-2: hsl(var(--bg-gradient-desert-khaki-2-hsl) / 1);
    --bg-gradient-desert-khaki-2-hsl: 40 41.3% 78.6%;
    --bg-gradient-desert-khaki-3: hsl(var(--bg-gradient-desert-khaki-3-hsl) / 1);
    --bg-gradient-desert-khaki-3-hsl: 50 49.6% 75.9%;

    /* Crimson Moon */
    --bg-gradient-crimson-moon-1: hsl(var(--bg-gradient-crimson-moon-1-hsl) / 1);
    --bg-gradient-crimson-moon-1-hsl: 0 88.6% 31%;
    --bg-gradient-crimson-moon-2: hsl(var(--bg-gradient-crimson-moon-2-hsl) / 1);
    --bg-gradient-crimson-moon-2-hsl: 0 0% 0%;

    /* Memory Lane */
    --bg-gradient-memory-lane-1: hsl(var(--bg-gradient-memory-lane-1-hsl) / 1);
    --bg-gradient-memory-lane-1-hsl: 227 58.4% 65.1%;
    --bg-gradient-memory-lane-2: hsl(var(--bg-gradient-memory-lane-2-hsl) / 1);
    --bg-gradient-memory-lane-2-hsl: 227 31% 44.3%;

    /* Primary */
    --primary-color: hsl(var(--primary-color-hsl) / 1);
    --primary-color-hsl: 228 5.2% 38%;
}

[data-theme="light"] {
    --background: var(--light-background);
    --background-muted: rgba(var(--background), 0.5);
    --mobile-navbar-background: var(--navbar-background);
    --navbar-background: rgb(255, 255, 255);
    --background-gray: rgb(235, 235, 235, 0.5);
    --text: var(--light-text);
    --link-color: hsl(0, 0%, 50%);
    --border: hsl(0, 0%, 75%);
}

[data-theme="Midnight"] {
    --background: var(--dark-background);
    --background-muted: rgba(var(--background), 0.5);
    --mobile-navbar-background: var(--navbar-background);
    --navbar-background: hsl(0, 0%, 5%);
    --background-gray: rgb(32, 32, 32, 0.6);
    --text: hsl(0, 0%, 100%);
    --link-color: hsl(0, 0%, 80%);
    --border: hsl(0, 0%, 12%);
}

[data-theme="dark"] {
    --background: hsl(0, 0%, 5%) no-repeat center center fixed;
    --background-muted: rgba(var(--background), 0.5) no-repeat center center fixed;
    --mobile-navbar-background: var(--navbar-background);
    --navbar-background: hsl(0, 0%, 5%);
    --background-gray: rgb(32, 32, 32, 0.6);
    --text: hsl(0, 0%, 95%);
    --link-color: hsl(0, 0%, 50%);
    --border: hsl(0, 0%, 12%);
}

[data-theme="Desert Khaki"] {
    --background: linear-gradient(0deg, var(--bg-gradient-desert-khaki-1) 20%, var(--bg-gradient-desert-khaki-2) 50%, var(--bg-gradient-desert-khaki-3) 80%) no-repeat center center fixed;
    --background-muted: rgba(var(--background), 0.5) no-repeat center center fixed;
    --mobile-navbar-background: var(--background);
    --navbar-background: transparent;
    --background-gray: rgb(255, 255, 255, 0.6);
    --text: var(--primary-460);
    --link-color: rgba(255, 255, 255, 0.8);
    --border: rgba(128, 132, 142, 0.239);
}

[data-theme="Crimson Moon"] {
    --background: linear-gradient(305deg, var(--bg-gradient-crimson-moon-1) 16.17%, var(--bg-gradient-crimson-moon-2) 72%) no-repeat center center fixed;
    --background-muted: rgba(var(--background), 0.5) no-repeat center center fixed;
    --mobile-navbar-background: var(--background);
    --navbar-background: transparent;
    --background-gray: rgb(0, 0, 0, 0.6);
    --text: var(--dark-text);
    --link-color: hsl(0, 0%, 75%);
    --border: #80848e3d;
}

[data-theme="Memory Lane"] {
    --background: linear-gradient(180deg, var(--bg-gradient-memory-lane-1) 4%, var(--bg-gradient-memory-lane-2) 96%);
    --background-muted: rgba(var(--background), 0.5) no-repeat center center fixed;
    --mobile-navbar-background: var(--background);
    --navbar-background: transparent;
    --background-gray: rgba(190, 190, 190, 0.4);
    --text: rgba(255, 255, 255);
    --link-color: rgba(255, 255, 255, 0.6);
    --border: rgba(255, 255, 255, 0.6);
}

body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
    background: var(--background);
    background-size: cover;
    color: var(--text);
}

.content {
    padding: 3rem 20px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    position: relative;
    justify-content: center;
    border: 1px solid var(--border);
    background: var(--background);
    padding: 2rem;
    padding-bottom: 3rem;
    border-radius: 5px;
}

.align-text {
    text-align: center;
}

.icons-container {
    position: absolute;
    bottom: 10px;
    right: 20px;
    display: flex;
    margin-top: 20px;
    align-items: center;
    user-select: none;
}

.icons-container .icon {
    border-bottom: none !important;
}

.icons-container .icon:hover {
    cursor: pointer;
    border-bottom: none !important;
}

@media (max-width: 600px) {
    .login-container {
        padding: 0.75rem;
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    .icons-container {
        bottom: 5px;
        right: 10px;
    }
}

.discord-login a {
    color: var(--link-color) !important;
}

.discord-login a:visited {
    color: var(--link-color);
}

h1 {
    font-size: 1.5rem;
    margin: 0;
}